<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>avatar_elements</key>
	<dict>
		<key>hairol</key>
		<array>
			<string>alpha</string>
			<string>beta</string>
		</array>
		<key>eb</key>
		<array>
			<string>alpha</string>
			<string>beta</string>
		</array>
		<key>eyes</key>
		<array>
			<string>alpha</string>
			<string>beta</string>
		</array>
		<key>mouth</key>
		<array>
			<string>alpha</string>
			<string>beta</string>
		</array>
		<key>shirt</key>
		<array>
			<string>alpha</string>
			<string>beta</string>
		</array>
		<key>body</key>
		<array>
			<string>alpha</string>
			<string>beta</string>
		</array>
		<key>pants</key>
		<array>
			<string>alpha</string>
			<string>beta</string>
		</array>
		<key>legs</key>
		<array>
			<string>alpha</string>
			<string>beta</string>
		</array>
		<key>hairul</key>
		<array>
			<string>alpha</string>
			<string>beta</string>
		</array>
	</dict>
	<key>avatar_elements_names</key>
	<dict>
		<key>hairol</key>
		<array>
			<string>Alpha</string>
		</array>
		<key>eb</key>
		<array>
			<string>Alpha</string>
		</array>
		<key>eyes</key>
		<array>
			<string>Alpha</string>
		</array>
		<key>mouth</key>
		<array>
			<string>Alpha</string>
		</array>
		<key>shirt</key>
		<array>
			<string>Alpha</string>
		</array>
		<key>body</key>
		<array>
			<string>Alpha</string>
		</array>
		<key>pants</key>
		<array>
			<string>Alpha</string>
		</array>
		<key>legs</key>
		<array>
			<string>Alpha</string>
		</array>
		<key>hairul</key>
		<array>
			<string>Alpha</string>
		</array>
	</dict>
	<key>NeighborMenuActions</key>
	<array>
		<string>Poke</string>
		<string>HighFive</string>
		<string>Tickle</string>
	</array>
	<key>RandomActions</key>
	<array>
		<string>Poke</string>
		<string>HighFive</string>
		<string>Tickle</string>
	</array>
	<key>Overlays</key>
	<dict/>
	<key>Animations</key>
	<dict>
		<key>idle</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>idle</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>stand</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>blink</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>sequence</key>
				<string>stand</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>sleep</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>sleep</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>5</integer>
			</dict>
		</array>
		<key>walk</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>walk</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>a1</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>a1</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>a2</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>a2</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>a3</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>a3</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>a4</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>a4</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>a5</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>a5</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>a6</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>a6</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>b1</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>b1</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>b2</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>b2</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>b3</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>b3</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>b4</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>b4</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>b5</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>b5</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>b6</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>b6</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>c1</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>c1</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>c2</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>c2</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>c3</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>c3</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>c4</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>c4</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>c5</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>c5</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>c6</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>c6</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>e1</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>e1</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>e2</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>e2</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>e3</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>e3</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>e4</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>e4</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>e5</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>e5</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>e6</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>e6</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>f1</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>f1</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>f2</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>f2</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>f3</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>f3</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>f4</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>f4</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>f5</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>f5</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>f6</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>f6</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>g1</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>g1</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>g2</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>g2</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>g3</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>g3</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>g4</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>g4</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>g5</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>g5</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>g6</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>g6</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>Tickle</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>Tickle</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>HighFive</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>HighFive</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<real>3</real>
			</dict>
		</array>
		<key>Poke</key>
		<array>
			<dict>
				<key>sequence</key>
				<string>Poke</string>
				<key>dx</key>
				<integer>0</integer>
				<key>dy</key>
				<integer>0</integer>
				<key>duration</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>Skeletons</key>
	<dict>
		<key>avatar</key>
		<dict>
			<key>groupings</key>
			<dict>
				<key>body</key>
				<array>
					<string>legs</string>
					<string>body</string>
				</array>
				<key>hair</key>
				<array>
					<string>hairol</string>
					<string>hairul</string>
				</array>
			</dict>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>clickableWidth</key>
			<integer>160</integer>
			<key>clickableHeight</key>
			<integer>180</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>180</integer>
			<key>pieces</key>
			<array>
				<string>hairul</string>
				<string>legs</string>
				<string>pants</string>
				<string>body</string>
				<string>shirt</string>
				<string>mouth</string>
				<string>eyes</string>
				<string>eb</string>
				<string>hairol</string>
			</array>
		</dict>
		<key>person</key>
		<dict>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>clickableWidth</key>
			<integer>30</integer>
			<key>clickableHeight</key>
			<integer>100</integer>
			<key>width</key>
			<integer>180</integer>
			<key>height</key>
			<integer>180</integer>
			<key>pieces</key>
			<array>
				<string>hair</string>
				<string>legs</string>
				<string>body</string>
				<string>head</string>
			</array>
		</dict>
		<key>object</key>
		<dict>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>pieces</key>
			<array>
				<string>main</string>
			</array>
		</dict>
	</dict>
	<key>Loops</key>
	<dict>
		<key>idle</key>
		<dict>
			<key>duration</key>
			<integer>4</integer>
			<key>frames</key>
			<integer>16</integer>
		</dict>
		<key>stand</key>
		<dict>
			<key>duration</key>
			<integer>4</integer>
			<key>frames</key>
			<integer>1</integer>
		</dict>
		<key>blink</key>
		<dict>
			<key>duration</key>
			<integer>1</integer>
			<key>frames</key>
			<integer>1</integer>
		</dict>
		<key>sleep</key>
		<dict>
			<key>duration</key>
			<integer>1</integer>
			<key>frames</key>
			<integer>4</integer>
		</dict>
		<key>walk</key>
		<dict>
			<key>duration</key>
			<integer>1</integer>
			<key>frames</key>
			<integer>4</integer>
		</dict>
		<key>a1</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>a2</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>a3</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>a4</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>a5</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>a6</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>b1</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>b2</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>b3</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>b4</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>b5</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>b6</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>c1</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>c2</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>c3</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>c4</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>c5</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>c6</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>e1</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>e2</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>e3</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>e4</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>e5</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>e6</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>f1</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>f2</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>f3</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>f4</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>f5</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>f6</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>g1</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>g2</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>g3</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>g4</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>g5</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>g6</key>
		<dict>
			<key>duration</key>
			<integer>2</integer>
			<key>frames</key>
			<integer>8</integer>
		</dict>
		<key>Tickle</key>
		<dict>
			<key>duration</key>
			<real>0.5</real>
			<key>frames</key>
			<integer>2</integer>
		</dict>
		<key>HighFive</key>
		<dict>
			<key>duration</key>
			<integer>1</integer>
			<key>frames</key>
			<integer>2</integer>
		</dict>
		<key>Poke</key>
		<dict>
			<key>duration</key>
			<real>0.5</real>
			<key>frames</key>
			<integer>2</integer>
		</dict>
		<key>start</key>
		<dict>
			<key>duration</key>
			<integer>1</integer>
			<key>frames</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Characters</key>
	<dict>
		<key>disco</key>
		<dict>
			<key>description</key>
			<string>Disco Guy</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>ashley</key>
		<dict>
			<key>description</key>
			<string>Ashley</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>betty</key>
		<dict>
			<key>description</key>
			<string>Betty</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>jessie</key>
		<dict>
			<key>description</key>
			<string>Jessie</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>courtney</key>
		<dict>
			<key>description</key>
			<string>Courtney</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>danny</key>
		<dict>
			<key>description</key>
			<string>Danny</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>joey</key>
		<dict>
			<key>description</key>
			<string>Joey</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>bobbi</key>
		<dict>
			<key>description</key>
			<string>Bobbi</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>gogo</key>
		<dict>
			<key>description</key>
			<string> Gogo Girl</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>hippie</key>
		<dict>
			<key>description</key>
			<string>Hippie Girl</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>eric</key>
		<dict>
			<key>description</key>
			<string>Eric</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>nora</key>
		<dict>
			<key>description</key>
			<string>Nora</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>nick</key>
		<dict>
			<key>description</key>
			<string>Nick</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>nerdboy</key>
		<dict>
			<key>description</key>
			<string>Nerdboy</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>nerdgirl</key>
		<dict>
			<key>description</key>
			<string>Nerdgirl</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>dude</key>
		<dict>
			<key>description</key>
			<string>Dude</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>chick</key>
		<dict>
			<key>description</key>
			<string>Chick</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>romeo</key>
		<dict>
			<key>description</key>
			<string>Romeo &apos;68</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>juliet</key>
		<dict>
			<key>description</key>
			<string>Juliet &apos;68</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>angelguy</key>
		<dict>
			<key>description</key>
			<string>Angelguy</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>angelgirl</key>
		<dict>
			<key>description</key>
			<string>Angelgirl</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>jungleman</key>
		<dict>
			<key>description</key>
			<string>Jungleman</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
		<key>junglegirl</key>
		<dict>
			<key>description</key>
			<string>Jungle Girl</string>
			<key>skeleton</key>
			<string>person</string>
		</dict>
	</dict>
</dict>
</plist>
